body {
    background-color: black;
    color: white;
    font-family: cursive, sans-serif;
}

h1 {
    font-size: 20px;
    border: 5px double rgb(rgb(248, 2, 2), green, blue)
    border-radius: 20px

}

