body {
    background-color: white;
    color: black;
    font-family: sans-serif;
}

h1 {    
    font-size: 20px;
    border: 2px solid white;
    border-radius: 10px;
    border-width: 500px;
    padding: 5px;
    background-color: cornflowerblue;
    opacity: 0.3;
}

p {
    border: 2px double white;
    border-radius: 10px;
    text-align: left;
    padding: 5px;
}
image {
    margin: 10px 10px;
}
picture {
    margin: 10px;
}