* {
  box-sizing: border-box;

}
  
  body {
    width: 80%;
    font-family: sans-serif;
    height: fit-content;
    flex-direction: column;
    margin: 0px;
    display: flex;
    width: auto;

  }
  
  header {
    background-color: black;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    width: auto;
    margin: 0px;
  }

  #div1 {
    background-color: dimgray;
    font-size:25px;
    width: 100%;
    text-align: center;
     
  }

  #div1 ul {
    list-style: none;
    
  }
  #div1 li {
    display: inline;
    padding-left: 15px;
    
  }

  #div1 a {
  text-decoration: none;
  color: white;
    
}

  #div1 a:hover {
    color: red;
  }

  #div2 {
    background-color: grey;
    width: 15%;
    height: 456px;
    
  }

  #div3 {
    float: right;
    margin-left: 17%;
    width: 30%;
    position: absolute;
    top: 275px;
    padding: 2em;
  }

  #div4 {
    float: right;
    margin-left: 50%;
    width: 30%;
    position: absolute;
    top: 275px;
    padding: 2em;
  }

  footer {
    position: fixed;
    padding: 5px;
    color: white;
    background-color: black;
    text-align: center;
    left: 0%;
    right: 0%;
    bottom: 0%;
    
    
  }
  