

@mixin gradient-bg($color: null) {
  background-color: $color;

  @if $enable-gradients {
    background-image: var(--#{$variable-prefix}gradient);
  }
}

@font-face {
    font-family: SassyFrass;    
    src: url('fonts/SassyFrass-Regular.ttf');
}
@font-face {
    font-family: Slackey;
    src: url('fonts/Slackey-Regular.ttf');
}

body {
  background-color: #5840ac;
  background-image: linear-gradient(black, white);
  
  }

header {
 
  background-image: url('pics/kallistettuoik.png'), url('pics/kallistettuvas.png');
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: left, right;
  background-color: transparent;
  font-family: SassyFrass, sans-serif;
  font-size: 120px;
  color: white;
  text-align: center;
  padding: 5px;

}
@media only screen and (max-width: 1100px) {
  header {
    background-image: none;
  }
}

nav {
  font-family: cursive;
  background-color: black;
   
}

h2 {
  color: white;
  
}

.row {
  margin: 30px;
}
#axe10, #axe12 {
  margin-bottom: 50px;
}

footer {
  position: fixed;
  padding: 12px 0px 0px 0px;
  color: white;
  background-color: black;
  text-align: center;
  left: 0%;
  right: 0%;
  bottom: 0%;
  
}

#karuselli img {
  margin-left: 350px;
  
}

#kontentti {
    
  background-color: #f3ec78;
  background-image: linear-gradient(to bottom, #ffffff, #090003);
  background-size: 100%;
  background-clip: border-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
#karuselli{
background: black;
}

