
@font-face {
    font-family: SassyFrass;    
    src: url('fonts/SassyFrass-Regular.ttf');
}
@font-face {
    font-family: Slackey;
    src: url('fonts/Slackey-Regular.ttf');
}

body {

  background-color: #5840ac;
  background-image: linear-gradient(45deg, black, rgb(22, 43, 30), rgb(31, 11, 49));
  background-size: 2000% 2000%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  }

  @keyframes gradient {
    0% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }


header {
  
  background-image: url('pics/kallistettuoik.png'), url('pics/kallistettuvas.png');
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: left, right;
  background-color: transparent;
  font-family: SassyFrass, sans-serif;
  font-size: 120px;
  color: white;
  text-align: center;
  padding: 0px;

}

@media only screen and (max-width: 1200px) {
  header {
    background-image: none;
  }
}
@media only screen and (max-width: 850px) {
  header {
    font-size:100px;
  }
}
@media only screen and (max-width: 720px) {
  header {
    font-size:80px;
  }
}
@media only screen and (max-width: 580px) {
  header {
    font-size:60px;
  }
}

nav {
  font-family: cursive, sans-serif;
  background-image: linear-gradient(90deg, black, rgb(22, 43, 30), rgb(31, 11, 49));
  
  }

  .row {
    margin: 70px;

  }
 
#axe15 {
  margin-bottom: 70px;
}

footer {
  position: fixed;
  padding: 12px 0px 0px 0px;
  color: white;
  background-color: transparent;
  text-align: center;
  left: 0%;
  right: 0%;
  bottom: 0%;
  
}

#kontentti {
  color: white;
  font-family: slackey, sans-serif;
}

#karuselli .carousel-item img {
  object-fit:contain;
  object-position: center;
  height: 50vh;
  overflow: hidden;
}

