body {
    background-color: black;
    color: white;
    font-family: cursive, sans-serif;

}

h1 {
    
    font-size: 20px;
    border: 2px solid white;
    border-radius: 10px;
    display: inline;
}

p {
    font-size: 12px;
    border-color: rgb(216, 228, 90);
    border-width: 2px;
    display: inline;

}
.erillisdivisioona {
   border: 2px double white;  
   width: 200px;
   height: 200px;
}
#kaikkeus {
    padding: 15px;
}